

.wrapper{
display:grid;
width: 100vw;
grid-template-areas: 
"hd as"
"main as";
grid-template-columns: 80vh 20vh;
}


header{ grid-area: hd;
background-color: #3498db
;
}


aside{ grid-area: as;
    background-color: #96c4e2;
 
}


main{ grid-area: main;
    background-color: #383acb;
    display: flex;


}

section{
    width: 20%;
}